.jumbotron {
  padding-top: 120px;
  /* background-color: #5c86c9; */
}
/* #projek {
  background-color: #a2d9ff;
} */
section {
  padding-top: 5rem;
}
.card {
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
  position: static;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
.rounded-circle {
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
}

svg {
  margin-top: 1 rem;
  height: 2 rem;
}
#nav1 {
  background-color: #f00; /*whichever you want*/
  opacity: 0.9;
  filter: (opacity=50);
}
a {
  text-decoration: none;
  color: black;
}
iframe {
  width: 400px;
  height: 650px;
  padding-left: 20px;
  padding-top: 370px;
  position: fixed;
}
/* footer {
  background-color: #a2d9ff;
} */
div.head {
  display: flex;
  justify-content: center;
  animation-name: example;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  border: 20px;
  position: absolute;
}
@keyframes example {
  from {
    left: -10%;
    background-color: transparent;
    opacity: 0;
  }
  to {
    left: 10%;
    opacity: 1;
  }
}
div.jumbo {
  background-color: #050f15;
}
