body {
  margin: 0;
  overflow: hidden;
}

.img {
  background: url("img/rrr.png");
  background-size: cover;
  overflow-x: hidden;
  background-repeat: no-repeat;
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.tambah {
  margin-top: 100px;
  border-radius: 10px;
  color: rgb(228, 228, 228);
  width: 750px;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px 40px 30px 30px;
  position: absolute;
}

textarea {
  border-radius: 5px;
  text-align: left;
}