#about {
  background-color: #0099ff;
}
.xx {
  margin-top: 200px;
  width: 90%;
}
p {
  text-align: justify;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}
section {
  width: 68%;
  background-color: #60a2ff;
}
div.cols {
  width: 543px;
}
