body{
    background-color:rgb(57, 85, 131);
}
form{
    background-image: url('loona3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
table,th, td{
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 10px;
}
th, td {
    background-color: aqua;
    text-align: left;
}
ul {
    list-style-type: none;
    margin: 50;
    padding: 20;
    overflow: hidden;
    background-color: #333333;
}
li {
    float: left;
}
li a {
    display: grid;
    color: rgb(10, 153, 158);
    text-align: center;
    padding: 16px;
    text-decoration: solid;
}
li a:hover {
    background-color: #111111;
}
.city {
    background-color: rgb(14, 47, 117);
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}
.main {
    text-align: center;
}
p {
    margin: 30px;
    text-align: justify;
}
iframe {
    float: right;
    padding: 70px;
    width: 400px;
    height: 260px;
}
h1 {
    float: right;
    width: 200px;
    height: 40px;
    padding: 50px;
}
header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}
/*section{
    display: -webkit-flex;
    display: flex;
}*/

@keyframes fade-in-up {
0% {
        opacity: 0;
}
100% {
        transform: translateY(0);
        opacity: 1;
}
}

.video iframe {
    max-width: 100%;
    max-height: 100%;
}

.video.stuck {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 260px;
    height: 145px;
    transform: translateY(100%);
    animation: fade-in-up 0.75s ease forwards;
    z-index: 1;
}
