html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-image: url(beanstalk-dark.webp);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    font: 16px/28px arial, sans-serif;
    background-color: rgb(70, 83, 83);
    color: rgb(0, 0, 0);
}
.semua {
    width: 960px;
    margin: auto;
    background-color: white;
}
.header {
    padding: 25px;
    animation-name: example;
    animation-duration: 6s;  
    animation-fill-mode: forwards;
    border: 20px;
}
@keyframes example {
    from {left: -10%; background-color: transparent; opacity: 0;}
    to {left: 4%; opacity: 1;}
}
.header .judul {
    font-size: 40px;
    font-weight: bold;
}
.header ul li {
    display: inline-block;
    margin-top: 25px;
    margin-left: 5px;
}
.header a {
    text-decoration: none;
    color: salmon;
    padding: 3px;
}
.header a:hover {
    background-color: blue;
    color: aliceblue;

}
.gambar {
    height: 410px;
    background-image: url(dd.png);
    background-size: cover;
    background-position: 0 -130px;
    border-bottom: 5px solid rgb(5, 126, 207);
    border-top: 5px solid rgb(219, 113, 27);
    
}
.main {
    padding: 20px;
    width: 600px;
    box-sizing: border-box;
    float: left;
}
.main h2 {
    font-weight: bold;
    font-size: 20px;
    padding-left: 20px;
}
.main .penulis {
    font-size: 15px;
}
.main p {
    margin-bottom: 20px;
    font-size: 14px;
    text-align: justify;
    padding-left: 20px;
}
.sidebar{
    width: 300px;
    float: right;
    padding: 20px;
}
.sidebar img {
    float: left;
    padding-right: 10px;
    width: 70px;
    height: 70px;
}
.sidebar h3{
    font-weight: bold;
    color: rgb(56, 54, 51);
    padding-bottom: 10px;
}
.sidebar p{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding-top: 0px;
}
.footer {
    background-color: rgb(53, 51, 50);
    text-align: center;
    height: 50px;
}
.footer #copy {
    color: white;
    font-size: 12px;
    padding-top: 15px;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}